<ng-container>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-container>

<!--<div class="bar bar-header bar-positive">
  <div class="bar bar-header bar-positive">
  
    <h1 class="title ion-text-center" >Mes livraisons</h1>
  </div>
<ion-header>
  <ion-toolbar class="ion-header">
    <ion-title>Livreur</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
</div>-->
<ion-content>
<ng-container *ngIf="onLiv==undefined">
  <app-loader></app-loader>
</ng-container>
<ng-container *ngIf="onLiv!=undefined">
  <ion-searchbar placeholder="Search" ></ion-searchbar>
  <ion-list inset="false"  class="list ion-padding" *ngFor="let mesLiv of livraisonLivreur; let i=index">
    <ion-item button detail lines="full" (click)="detailLivraison(mesLiv)">
      <ion-label >
        <h3> Livraison N°: <em> {{mesLiv.numero}}</em></h3>
        <p>{{mesLiv.etat}}</p>
      </ion-label>
  
    </ion-item>
  </ion-list>
</ng-container>
</ion-content>
