<div class="bar bar-header bar-positive">
  <h1 class="title ion-text-center" >Commandes de la livraison</h1>
</div>
<ion-content>
  <ion-list inset="false"  class="list ion-padding" *ngFor="let commande of commandesLiv; let i=index">
    <ion-item button detail lines="full">
      <ion-label >
        <h3> Client: <em> {{commande.client.nom}} {{commande.client.prenom}}</em></h3>
        <h3> Montant: <em> {{commande.montantCommande}}</em></h3>
        <p>{{commande.DateCmde}}</p>
      </ion-label>
  
    </ion-item>
  </ion-list>
</ion-content>
