<ion-app>
<ion-content>
  
<ion-img src="https://freepngimg.com/thumb/burger%20sandwich/4-hamburger-burger-png-image.png" height="50"></ion-img>
<ion-card class="">
  <ion-card-header>
    <ion-card-title>
      Sign Up!
    </ion-card-title>
    <ion-card-subtitle>
    Create Your <strong>account</strong> by filling
    up the form
    </ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
  <form [formGroup]="myForm"  novalidate>
    <h1 class="ion-text-center">Connexion</h1>
    <ion-item lines="full">
      <ion-label position="floating"><b>Email:</b></ion-label>
      <ion-input formControlName="login" type="email"></ion-input>
    </ion-item>
    <!--<small class="error ion-padding" *ngIf="isSubmitted && errorControl.login.errors?.required">
    Email is required.
    </small>
    <small class="error ion-padding" *ngIf="isSubmitted && errorControl.login.errors?.pattern">
      Please provide valid email id.
    </small>-->
    <ion-item lines="full">
      <ion-label position="floating"><b>Mot de passe:</b></ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <!-- Error messages -->
    <!--<small class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Password is required.
    </small>
    <small class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Password should be min 6 chars long.
    </small>-->
    <ion-row>
      <ion-col>
        <ion-button (click)= "submitForm(); presentToast()" [disabled]="!myForm.valid" color="primary" expand="block">Se Connexion
        </ion-button>
      </ion-col>
    </ion-row>
    <span> Already have an account ? <a routerLink="/signup"> Sign In</a></span>
  </form>
  </ion-card-content>
</ion-card>
</ion-content>
</ion-app>

<!--<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/logo.bin" alt="">
  <ng-container>
  <form #f="ngForm" (ngSubmit)="f.form.valid  ">
    <ion-item lines="full">
      <div class="form_error" *ngIf="login.errors && f.submitted">
        Email is required !
      </div>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="login" #login="ngModel" [(ngModel)]="form.login" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <div class="form_error" *ngIf="password.errors && f.submitted">
        Password is required !
      </div>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" [(ngModel)]="form.password" #password="ngModel"  type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="presentToast();onSubmit()" type="submit" class="all" expand="block">connexion</ion-button>
        <p>ou</p>
        <ion-button class="btn" routerLink="/inscription" color="light" expand="block">Inscription</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ng-container>
</ion-content>
</ion-app>-->
