<ion-img src="https://freepngimg.com/thumb/burger%20sandwich/4-hamburger-burger-png-image.png" height="50" ></ion-img>
<form [formGroup]="myForm" (click)="submitForm()" novalidate>
  <h1>Connexion</h1>
  <ion-item lines="full">
    <ion-label position="floating"><b>Email:</b></ion-label>
    <ion-input formControlName="login" type="email"></ion-input>
  </ion-item>
  <small class="error ion-padding" *ngIf="isSubmitted && errorControl.login.errors?.required">
    Email is required.
  </small>
  <small class="error ion-padding" *ngIf="isSubmitted && errorControl.login.errors?.pattern">
    Please provide valid email id.
  </small>
  <ion-item lines="full">
    <ion-label position="floating"><b>Mot de passe:</b></ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
    <!-- Error messages -->
    <small class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Password is required.
    </small>
    <small class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Password should be min 6 chars long.
    </small>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Se Connexion</ion-button>
      </ion-col>
    </ion-row>
</form>



<!--<div class="login__page" [style.background-image]="'url(assets/images/login-bg.jpg)'">
  <div class="login__row min-h-screen">
    <div class="login__hero flex flex-col justify-center items-center py-10 px-4 sm:px-8 xl:px-20 text-white">
      <ion-img src="https://freepngimg.com/thumb/burger%20sandwich/4-hamburger-burger-png-image.png"></ion-img>
      <h2 class="text-center mt-6">Welcome back!</h2>
    </div>
    <div class="login__content p-4 sm:p-8  bg-accent">
      <div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
        <form>
          <h1 class="text-2xl font-bold">Sign in</h1>
          <div class="mb-4 mt-6">
            <ion-item>
              <ion-label>Login</ion-label>
              <ion-input type="text" name="title"></ion-input>
            </ion-item>
          </div>
          <div class="mb-6 mt-6">
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="text" name="title"></ion-input>
            </ion-item>
          </div>
          <div class="flex items-center">
            <input id="remember_me" name="remember_me" type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border rounded" />
            <label for="remember_me" class="ml-2 block text-sm text-gray-900"> Keep me signed in </label>
          </div>
          <div class="flex w-full mt-6">
            <button
              class="w-full bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10"
              type="button">
              Sign in
            </button>
          </div>
        </form>
        <div class="mt-4">
          <a href="#" class="hover:underline hover:text-accent">Forgot password?</a>
        </div>
        <div class="mt-3">
          <small class="text-gray-600 text-sm"> Don't have an account? </small>
          <a routerLink="/auth/signup" class="text-gray-700 text-sm font-semibold hover:text-accent"> Sign up </a>
        </div>
        <div class="mt-4">
          <a [routerLink]="['/']" class="text-gray-700 text-sm hover:text-accent inline-flex items-center">
            <mat-icon class="h-4 w-4 leading-4 text-lg mr-2">keyboard_backspace</mat-icon>Go to Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>-->