.login {
    background-color: #ffffff;
    &__page {
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    &__row {
      position: relative;
      z-index: 2;
    }
  }
  @media (min-width: 768px) {
    .login {
      &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
.login__content{
    padding: 4%;
    shape-margin: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color:whitesmoke;
}  
small{
  color: red;
}
ion-img{
  padding: 5px;
  height: 20%;
  width: 100%;
  margin: 40px 0 40px;
}


.shape{
  position: fixed;
  top:0;
  right: 0;

  img{
      opacity: 0.9;
  }
}




