<ion-app>
  
  
  <ion-menu type="push" max-edge-start="50" side="start" contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <!-- <ion-menu-toggle auto-hide="true"> -->
        <ion-item routerLink="/tabs/tab1" routerDirection="forward">
          <ion-label>Nos Menus</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/tab2" routerDirection="forward">
          <ion-label>
            <Nav>Nos Burgers</Nav>
          </ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/tab3" routerDirection="forward">
          <ion-label (ionChange)="complement($event)">
            Nos Complements
            <div *ngIf="">
              <ion-item>
                Boissons
              </ion-item>
              <ion-item>
                Frites
              </ion-item>
            </div>

          </ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/tab2" routerDirection="forward">
          <ion-label>
            <Nav>Mon profil</Nav>
          </ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/tab2" routerDirection="forward">
          <ion-label>
            <Nav>Deconnexion</Nav>
          </ion-label>
        </ion-item>
        <!-- </ion-menu-toggle> -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>