
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header parallax
    imageUrl="https://media.gqmagazine.fr/photos/5f7435372a7b0a4f7f543cf9/3:2/w_1350,h_900,c_limit/Burger%20King-chevre.jpg"
    height="300" bgPosition="top">
    <ion-toolbar color="primary">
      <ion-title> Brazil Burger</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="cata">
      <ion-segment class="cata" value="grid" (ionChange)="segmentValue($event)" class="segment-btn">
        <ion-segment-button value="grid">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="list">
          <ion-icon name="list-outline" routerLink=""></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!--..............Filtre..................-->

    <ion-segment>
      <ion-segment-button  (click)="filterProduct('burger')" value="burger">
        <ion-label>Burger</ion-label>
      </ion-segment-button>
      <ion-segment-button  (click)="filterProduct('menu')" value="menu">
        <ion-label>Menu</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="presentAlert()" value="prix">
        <ion-label>Prix</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!--..............Fin Filtre..................-->

    <div class="contenent " *ngIf="valueSegment!=='list'">

      <h2 class="burger list-header">MES BURGERS:</h2>
   
      <div class="list">
        <app-product-card-grid *ngFor="let burger of burgers " [produit]="burger">
        </app-product-card-grid>
      </div>
      
      <h2 class="menu list-header">MES MENUS:</h2>
      <div class="list">
        <app-product-card-grid *ngFor="let menu of menus " [produit]="menu" >
        </app-product-card-grid>
      </div>
    </div>

    <div class="contenent ion-padding" *ngIf="valueSegment==='list'">
      <h2 class="burger">MES BURGERS:</h2>
      <div class=" bb">
        <app-product-card-list *ngFor="let burger of burgers " [catalogue]="burger" class="burger-list">
        </app-product-card-list>
      </div>

      <h2 class="menu">MES MENUS:</h2>
      <div class="row d-flex g-5">
        <app-product-card-list *ngFor="let menu of menus " [catalogue]="menu" class="col col-sm-4 col-md-3">
        </app-product-card-list>
      </div>

    </div>
    
    
    <!---------------------2Em Methode pour catalogue----------------------------------->

    <!--<ng-container *ngFor="let catalogue of catalogues">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><ion-icon class="all" name="pricetags-outline"></ion-icon>{{catalogue.prix}} fcfa</ion-card-subtitle>
          <ion-card-title>{{catalogue.nom}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img [src]="convert(catalogue.image)"  height="220">
        </ion-card-content>

        <div class=" btn-card w-100">
          <a class="btn panier col-3 " *ngIf="catalogue.nom.substr(0,1)==='B'" (click)="showCart(catalogue)">
            <ion-icon name="cart-outline" style="font-size: 2rem;"></ion-icon>
          </a>
          <a (click)="showDetails(catalogue)">
            <ion-button class="all"><ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
          </a>
        </div>
      </ion-card>
    </ng-container>
  </ion-content>
  </ion-content>-->

