<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-back-button class="ion-float-start" text="back" defaultHref="catalogue"></ion-back-button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="card card-card grand-card w-75 m-auto">
      <div class="header border">
        <div class=" ion-text-center title d-flex justify-content-between mx-4 pt-3">
          <h5 class="ion-title ion-text-center fs-4 mt-2 fw-bold ms-5">
            DETAILS: {{ showTitle(produit)}}
          </h5>
          <ion-button (click)="addMenuToCart(produit)" *ngIf="isMenu(produit)" class="ion-button-center">
            <ion-icon name="cart-outline" style="font-size: 1rem;"></ion-icon>
            +panier
          </ion-button>
        </div>

        <ion-card class="ion-padding">
          <div class="decrip-img ">
            <div class="show-detail d-flex h-25">
              <div class=" p-3">
                <h3 class="fw-bold nom-prod">{{ produit.nom }}</h3>

                <p class="description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
                  et sint maxime repudiandae. Optio, tenetur aliquid adipisci commodi
                  consequuntur minima mollitia quas iusto ducimus. Explicabo
                </p>
                <div class=" ion-margin-bottom" *ngIf="isMenu(produit)">
                  <h4>Compositon du menu:</h4>
                  <small *ngFor="let oburger of burgers"><em color-primary>{{oburger.quatite}}</em>. ---
                    {{oburger.burger.nom}} ---- {{oburger.burger.prix}}/Unité</small><br>
                  <small *ngFor="let ofrite of frites"><em color-primary>{{ofrite.quantite}}</em>. ---
                    {{ofrite.frite.nom}} ----- {{ofrite.frite.prix}}/Unité</small>
                </div>
                <span class="fw-bold fs-2 total">Total: {{ produit.prix }} F CFA</span>
              </div>

              <div class="image mx-5 col-md-6 col-sm-3">
                <img [src]="convert(produit.image)" />
              </div>

              <ion-button class="ion-color-light ion-padding-horizontal">
                CLICKER & COMMANDER
              </ion-button>

            </div>

          </div>
        </ion-card>
      </div>
    </div>
  </ion-content>
</ion-app>